@media screen and (max-width: 500px) {
	#title {
		margin-top: 25px;
	}
	header img {
		border-width: 4px;
		padding: 5px;
		border-radius: 15px;
	}
	header img:hover {
		border-width: 1.5px;
		padding: 7.5px;
		border-radius: 20px;
	}
	.smashtable {
		font-size: 18px;
	}
}